# Copyright 2016 Adam H. Leventhal. All rights reserved.
# Licensed under the Apache License, version 2.0:
# http://www.apache.org/licenses/LICENSE-2.0

project: nojo
default-region: us-west-2
code-bucket: ref://CodeBucketName

apps:
  - gordon.contrib.lambdas
  - nojo

apigateway:
  noms:
    description: noms path -> json
    resources:
      /:
        methods: GET
        parameters:
          method.request.querystring.nomspath: True
        integration:
          lambda: nojo.get
        request_templates:
          application/json: |
            { "nomspath" : "$input.params('nomspath')" }
